<html xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:fragment="head(title)">
    <title th:text="${title}"></title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
<nav th:fragment="nav">
    <ul>
        <li><a th:href="@{/}">Vinyles</a></li>
        <li><a sec:authorize="hasRole('admin')" th:href="@{/admin/genres}">Genres</a></li>
        <li><a sec:authorize="hasRole('admin')" th:href="@{/admin/membres}">Membres</a></li>
        <li><a sec:authorize="hasRole('admin')" th:href="@{/admin/artistes}">Artistes</a></li>
        <li><a sec:authorize="hasRole('admin')" th:href="@{/admin/ajout-vinyle}">Ajouter un vinyle</a></li>

        <section sec:authorize="isAuthenticated()">
            <!-- ${#authentication.name}" : recupère le username de l'utilisateur connecté-->
            <span th:text="|Vous êtes connecté avec l utilisateur : ${#authentication.name}|"></span>
            <!-- on offre la possibilité de se déconnecter -->
            <form th:action="@{/logout}" method="post">
                <button>Se deconnecter</button>
            </form>
        </section>

        <!-- on n'affiche cette section que pour les utilisateurs NON connectés -->
        <section sec:authorize="!isAuthenticated()">
            <span>Vous n'êtes pas connecté :</span>
            <!-- on offre la possibilité de se connecter -->
            <a th:href="@{/login}">Se connecter</a>
        </section>
    </ul>
</nav>

<section th:fragment="messages">
    <p class="confirmation" th:text="${confirmation}"></p>
    <p class="error" th:text="${erreur}"></p>
</section>
</body>

</html>